.mat-tab-group {
    margin-bottom: 48px;
  }

  .product{
    /* padding: 20px 0; */
    height: 450px;
    width: 100%;
}
.container-fluid{
  
    height: 100%;
}
.slider-wrap{
  
    position: relative;
    overflow: hidden;
    height: 450px;
    height: 100%;
}
.slider-main{
    position: absolute;
    width: 200%;
    width: 100%;
    height: 450px;
}
.item{
  
    display: inline-block;
    width: 210px;
    height: 450px;
    position: relative;
    margin: 0px 12px 0px 40px;
    /* border: 1px solid green; */
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 1px solid red; */
}

.example-card {
  width: 210px;
  height: 380px;
  /* padding-left: 30px; */
  /* border: 1px solid black; */
}

.prev{
    position: absolute;
    left: 33px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.next{
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(-50%, -50%);
}

  

.likes{
  /* background-color: black; */
  color: black;
  font-size: 15px;
}
.likeImage{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    float: right;
    color: rgb(9, 98, 182);
}
.wishlist{
  margin-right: 10px;
  width: 20px;
  height: 20px;
  float: right;
  color: rgba(192, 40, 40, 0.575);
}
.card-header{
    /* border: 1px solid black; */
    margin-bottom: 10px;
    /* display: flex;
    float: left; */
}


.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.allEvents{
    display: flex;
    
}

.filters{
    padding-left: 15px;
    margin: 20px 0px 0px 10px;
    width: 300px;
    height: 350px;
    float: left;
}
mat-expansion-panel{
  margin-top: 20px;
}

.events{
  
  margin: 20px 0px 0px 30px;
  width: 900px;
}

.event-card{
  width: 210px;
  margin-right: 10px;
  /* border: 1px solid black; */
}

.image{
  /* border: 1px solid black; */
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.all-images{
  
  width: 200px;
  height: 300px;
  border-radius: 10px;
  /* border: 1px solid black; */
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.grey{
  background-color: rgb(226, 223, 223);
}

.blue{
  background-color: rgb(177, 177, 241);
}

.example-spacer {
  flex: 1 1 auto;
}


.mat-toolbar{
  background-color: maroon;
}

.logo{
  margin-left: 20px;
  width: 180px;
  height: 60px;
  background-color: maroon;
}
.searchbox{
  width: 500px;
  background-color: white;
  height: 40px;
  margin-right: 500px;
  border-radius: 10px;
  /* border: 1px solid black; */
}
.search{
  outline: none;
  width: 430px;
  height: 30px;
}


.icon-prev,
.icon-next{
    font-size: 35px;
}
.btn-prev{
  left: -2px;
}
.btn-next{
  right: -2px;
}
.btn-carousel{
  position: absolute;
  top: 0;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  padding: 0;
  color: black;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}
