<!-- Header -->
<mat-toolbar>
  <mat-toolbar-row>

    <!-- Logo -->
    <div>
      <a> <img class="logo" src="../assets/logo.png" (click)="logo()"> </a>
    </div>




    <!-- Search box -->
    <app-search (searchTextChange)="onSearchTextEntered($event)"></app-search>
    <div class="suggestion-box">
      <div style="width:100% ;" *ngFor="let title of titleList">
        <div>{{title}}</div>
      </div>
    </div>






    <div style="display: flex; width: 100%;">

      <!-- Add Event -->
      <div style="margin-left:150px ; display: flex;">
        
        <section>
          <button mat-button (click)="addEvent()">Add Event</button>
        </section>

        <!-- Choose city -->
        <section>
          <button mat-button (click)="openDialog()">{{city}}</button>
        </section>


        
        <!-- Home -->
        <section>
          <button mat-button (click)="home()">Home</button>
        </section>


        <!-- Sign In -->
        
          <div style="margin-left: 30px;" *ngIf="login">
            <!-- <p>{{signIn}}</p> -->
            <app-home></app-home>
            <!-- <button mat-button [matMenuTriggerFor]="beforeMenu">{{signIn}}</button> -->
          </div>
        
        <button style="border:1px solid black; border-radius: 10px; margin-left: 30px;" mat-button *ngIf="!login"
          (click)="SignInLogin()">SignIn/Login</button>

      </div>

    </div>
  </mat-toolbar-row>

</mat-toolbar>



<!-- <div style="border: 1px solid black; width: 425px; position: relative; left: 260px; top: -13px;" *ngFor="let title of searchEventList">
  <div>{{title}}</div>
</div> -->

<!-- <app-landing-page></app-landing-page> -->

<router-outlet></router-outlet>