<!-- <mat-card  class="paymentDiv" fxLayout="center">

    <div class="payed"  >
  
   
    <mat-card class=" description description1" style="width: fit-content; margin: auto; margin-left:2rem ;">
            Confirmation
    </mat-card>
    <mat-card class="evt-name">
      <h1>
        Event Name: 
      </h1>
       {{eventdetails.title}}
    </mat-card>
  
     
  <mat-card >
    <h1 >
      Total Seats: 
    </h1>
  
    <mat-form-field appearance="fill" id="noOfSeats" >
      <mat-label>Select</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="1">One Seat</mat-option>
        <mat-option value="2"  >Two Seats</mat-option>
        <mat-option value="3"  >Three Seats</mat-option>
        <mat-option value="4"  >Four Seats</mat-option>
        <mat-option value="5"  >Five Seats</mat-option>
        <mat-option value="6"  >Six Seats</mat-option>
        <mat-option value="7"  >Seven Seats</mat-option>
        <mat-option value="8"  >Eight Seats</mat-option>
        <mat-option value="9"  >Nine Seats</mat-option>
        <mat-option value="10"  >Ten Seats</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
     
     <mat-card class="evt-name">
      <h1 >
        Total Amount:
      </h1>
      {{getTotal()}} Rs.
     </mat-card>
      
         
     
  
    <button mat-raised-button class="book-button btn1" style="width: 3cm;" (click)="payment()" >Pay</button>
  </div> 
  
  
  </mat-card>
  
  
  <mat-card *ngIf="soldout==true">
  We are really sorry, all tickets are sold out
  </mat-card> -->
