
.root {
    --colNum: 5;
  }
  .border-background{
 
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

 .border-background-gradient{
     border-image-source: linear-gradient(to left, #020531, #f90606);
}  
.toolbar{
  width: 100%;
  height: 7rem;
}
     /*Toolbar*/ 
     @media only screen and (max-width: 450px) {
      .toolbar{
          /*background-image: linear-gradient(to left,#012035,#660303);
         /* margin-top: -1.2rem;
          /* padding-top: 5rem; */
          /* display: grid; */
          height: 4.5rem;
          max-width: 100%;
          ;
          /*justify-content: center;*/
      }
      }
  .toolbar1{
    font-family: 'Marcellus SC', serif;
      font-size: 3.6rem; letter-spacing: 0.3rem;
      font-weight: bolder; color: white;
  }
      @media only screen and (max-width: 600px) {
          .toolbar1{
             font-size: 2.4rem;    
                }
                    }

                   
  .seat-card{
    width: 100%;
    background: linear-gradient(to top, #ffdede, rgba(255, 241, 214, 0.863));
    /* background-color: #9595b2; */
    

  }

  @media only screen and (min-width:100px) and (max-width:600px){

    .seat-card{
      width: 100%;
      box-shadow: 20px 20px 50px 15px grey;
      /* background-color: #9595b2; */
      background: linear-gradient(to top, #fce5e5, rgba(184, 171, 144, 0.863));
      
  
    }
  } 
  #header{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  #title1{
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Marcellus SC', serif;
    padding: 0.5rem;
    /* margin-top: 1rem; */
    /* padding-bottom: 1rem; */
    /* border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #2c2c2d, #dfb6b6); */

  }
  
  @media only screen and (min-width:100px) and (max-width:600px){
    #title1{
      font-size: 2rem;
      font-weight: 900;
      font-family: 'Marcellus SC', serif;
      padding: 0.5rem;
      margin-top: 0.5rem;
      padding-bottom: 0rem;
      
    }
  }

  /*Stage*/
.stage-v{
  background: linear-gradient(to bottom, #dcdcdc, rgba(255, 241, 214, 0.863)); margin-bottom: -1.95rem;
  padding-top: 2px;
   height: 23rem;
}

@media only screen and (min-width:100px) and (max-width:600px){
  .stage-v{
    background: linear-gradient(to bottom, #cbcbcb, rgba(255, 220, 151, 0.863)); margin-bottom: -1.95rem;
     height: 15rem;
     padding: 1.5rem;
  }
  
}
  .stage{
width: fit-content;

margin-top: 2rem;
margin-bottom: 2rem;
margin-left: auto;
margin-right: auto;
  }

  .stage img{
    width: 320px;
    box-shadow: -5px 60px 50px 15px rgb(9, 9, 9);
  }

  @media only screen and (min-width:100px) and (max-width:600px){
    .stage img{
      width: 150px;
      box-shadow: 20px 20px 50px 15px rgb(52, 52, 52);
    
    }
  }

  .cont {
    display: grid;
    /* grid-gap: 1.4rem; */
    grid-column-gap: .7rem;
    grid-row-gap: .9rem;
    grid-template-columns: repeat(var(--colNum), 1fr);
    max-width: fit-content;
  
    margin-left: auto;
      margin-right: auto;
    border-radius: 10px;
   border: 2px solid black;
   padding: 3px;
   overflow-x: scroll;
   overflow-y: hidden;
   /* box-shadow: 20px 20px 50px 15px grey; */
   background-color: rgb(254, 240, 240); 
   box-shadow: -10px -25px 25px 10px gray;
  
  }

  ::-webkit-scrollbar {
   
    width: 3px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: rgb(232, 232, 232);  */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    border-radius: 10px;
    border: 1px solid black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #b8d2ef;  */
    background-image: linear-gradient(to left, #ff96fd, #dbf0f4); 
  }
  @media only screen and  (max-width:1600px){
/* .cont{
  
box-shadow: 30px 30px 30px 10px rgb(222, 180, 180);

} */
  }

  @media only screen and (min-width:100px) and (max-width:600px) {
    .cont {
      display: grid;
      grid-column-gap: .5rem;
      grid-template-columns: repeat(var(--colNum), 1fr);
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      padding: 5px;
    
    
      
  
    }
  }

  @media only screen and (min-width:601px) and (max-width:1200px) {
    .cont {
      display: grid;
      grid-column-gap: .1rem;
      grid-template-columns: repeat(var(--colNum), 1fr);
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      padding: 5px;
    
    
      
  
    }
  }

   input[type=checkbox] {

    -webkit-appearance: none;
        width: 4.3rem;
        height: 5rem;
        background: grey;
        border-radius: 5px;
        
        vertical-align:middle;
        background-image: url('src\assets\arm.png');
        background-size: 65%;
        background-position: center;
        background-repeat: no-repeat;
        
        
        
    
} 

@media only screen and (min-width:100px) and (max-width:600px) {
  input[type=checkbox] {

    -webkit-appearance: none;
        width: 2.1rem;
        height: 2.1rem;
        background: grey;
        border-radius: 5px;
        
        vertical-align:middle;
        background-image: url('src\assets\mseat1.png');
        background-size: 95%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: grey;
        
        
    
} 
    }





 input[type='checkbox']:checked {
  background-image: url("src\assets\cc1.webp");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
} 
/* 
input[type="checkbox"]+ label {
  border: 1px solid black;
 
} */


   .box {
    height: 5rem;
    width: 4.5rem;
    margin: .5rem;
    background-color:rgb(134, 134, 134);
    padding-left: 2px;
    padding-bottom: 3px;
    box-shadow: 5px 15px 15px 5px rgb(134, 134, 134);
    
    /* background-image: url('src\assets\shopping.png'); */
  /* background-position: center; 
  /* background-size: 4rem 5rem; 
  background-repeat: no-repeat; */
  } 
  @media only screen and (min-width:100px) and (max-width:600px) {
    .box {
      height: 2.2rem;
      width: 2.2rem;
      background-color:rgb(255, 255, 255) ;
      margin: 0.1px;
      /* background-image: url('src\assets\shopping.png'); */
    /* background-position: center; 
    /* background-size: 4rem 5rem; 
    background-repeat: no-repeat; */
    box-shadow: none;
    } 
  }

  /* @media only screen and (min-width:600px) and (max-width:1200px) {
    .box {
      height: 2.2rem;
      width: 2.2rem;
      background-color:rgb(255, 255, 255) ;
      margin: 0.1px;
      /* background-image: url('src\assets\shopping.png'); */
    /* background-position: center; 
    /* background-size: 4rem 5rem; 
    background-repeat: no-repeat; 
    box-shadow: none;
    } 
  } */
  
  .alert{
    color: rgb(255, 254, 254);
  } 
  
  .header{
    font-size: 100vw;
  }
 
  .price-add{
    position: relative;
    margin-top: 2rem;
  }

  .venue{
    line-height: 2.2rem;
    font-size: 2.1rem;
    justify-content: flex-end;
    width: 40%;
    align-items: flex-end;
    margin-left: 5rem;
    margin-right: 5rem;
   
    
}

.description{
  font-family: 'Syne', cursive;
  font-size: 2rem;
  margin-left: 5rem;
  box-shadow: #00010b;   
}

.description1{
    

  border: 1px solid black;
  width: fit-content;
  /* background-image: linear-gradient(to right, #1f3ebc, #01a5c2); */
  padding: 0.7rem;
  /* color: white; */
  box-shadow: 3px 3px 5px 3px rgb(203, 203, 203);

}
@media only screen and (min-width:100px) and (max-width:600px){

  .description{
    font-family: 'Syne', cursive;
    font-size: 1.2rem;
    box-shadow: #00010b;  
    margin-left: auto;
    margin-right: auto; 
  }
  
  .description1{
    
    border: 5px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #0616f4, #06acf9);
    width: fit-content;
    /* background-image: linear-gradient(to right, #1f3ebc, #01a5c2);
    color: white; */
  }
}
  .colour-cat{
    display: inline-block; 
    position: relative;
     align-self: center; 
     font-family: Arial, Helvetica, sans-serif;
     font-size:1.5rem;
     margin-left:1rem;
     margin-top: 2rem;
     box-shadow: 1px 1px 15px 3px rgb(134, 134, 134);
  }

  .col-cat{
    box-shadow: 1px 1px 15px 3px rgb(134, 134, 134);
  }
  
  @media only screen and (min-width:100px) and (max-width:600px){
    .col-cat{
margin-left: auto ;
margin-right: auto;

    }
  }
  @media only screen and (min-width:100px) and (max-width:600px){
    .colour-cat{
      display: inline-block; 
      position: relative;
       align-self: center; 
       width: min-content;
       padding: 0.7rem;
       font-size: 1rem;
       font-weight: 900;
       
    }
  }
  
/* .pay-title{

} */
.ven{

  font-family: 'Josefin Sans', sans-serif; 
  font-weight: bolder;
  box-shadow: 1px 1px 15px 3px rgb(134, 134, 134);
}
.seat-price{
  /* width: fit-content; */
  display: inline-flex;
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
  margin: 1.4rem;
  height: 175px;
  background-image: url("src/assets/t2.webp");
  width: 330px;
  align-items: center;
  background-size: 330px;
  
}

.seat-price div div:first-child{
  /* margin-top: 1.7rem; */
  padding-top: 1rem;
}

@media only screen and (min-width:100px) and (max-width:600px){
  .seat-price{
    height: 100px;
    width: 180px;
    background-size: 185px;
    margin-left: auto;
    margin-right: auto;
    
  }
}

.seat-price div div:first-child{
  margin-top: 1.7rem;
}
.seat-price div h4{
  font-size: 1.7rem; 
  
  margin-left: 3rem; 
  display: inline-flex;
  font-family: 'Courier Prime', monospace;
  font-weight: 700;

}

.seat-price div h4 p{
  padding-left: 1rem;
 
}
@media only screen and (min-width:100px) and (max-width:600px){

  .seat-price div div:first-child{
    margin-top: 1rem;
    margin-bottom: -5rem;
  }
}
  @media only screen and (min-width:100px) and (max-width:600px){

  .seat-price div h4{
    font-size: 1rem; 
    margin-top: 2rem;
    margin-left: 1rem; 
    display: inline-flex;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    padding-top: -1rem;
  
  }

 
}
@media only screen and (min-width:100px) and (max-width:600px){

  .tired{
    margin-top: -7rem;
    padding-top: 2rem;
  }
}

/* @media only screen and (min-width:100px) and (max-width:600px){
  .seat-price div h4 p{
    padding-left: .5rem;
   
  }
} */
/* 
.seat-price::before{
  content: "";
  
  width: 380px;
} */
.totalPay{
  margin-top: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Kurale', serif;
  font-size: 2rem;
  font-weight: 570;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #f98c43, #fbe53f);
  /* background-image: linear-gradient(to right, #f98c43, #fbe53f); */
  box-shadow: 3px 3px 15px 3px rgb(134, 134, 134);
}



@media only screen and (min-width:100px) and (max-width:600px){
  .totalPay{
    font-size:1.4rem;
    /* height:2.5rem; */
    margin-top: auto;
    height: fit-content;
    padding: 0.8rem;
    justify-content: center;
  }

  .totalPay p{
    width: fit-content;
    padding: 0;
    margin: 0;
    height: fit-content;
  
  }
}

.buttons{
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 2rem;
  position: relative;
  margin-left: auto; 
  margin-right: auto; 
  

}

@media only screen and (min-width:1200px) {
  .book-button{
    margin-left: 9rem;
  }
}

.book-button{
  height: 5rem;
     
  font-size: larger; border-radius: 10px;
  -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
   -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
   margin-top: 5rem;
   margin-right: 10rem;
   width: fit-content;
   font-weight: normal;
   color: wheat;
  }
 
  
                                         
  .book-button:hover{
    background: linear-gradient(45deg, #c85bff, #b726ff);
                    }
 
                    @media only screen and (min-width:100px) and (max-width:600px){
                      .book-button{
                        height: fit-content;
                        font-size: small;

                      }
                    }
                  
.paymentDiv{
  font-family: 'Kurale', serif;
  font-size: 2rem;
  font-weight: 570;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 15px 3px rgb(134, 134, 134);
  display: inline-flex;
  padding: 2rem;

}

.paymentDiv mat-card{
  font-family: 'Kurale', serif;
}

.paymentDiv mat-card h1{
  padding: 1rem;
  font-family: 'Kurale', serif;
  color: #01a5c2;
}



.paymentDiv mat-card button {
justify-content: center;
margin-top: auto;
margin-bottom: auto;

}
.payed{
 display:inline-flex; gap: 2rem;
}


@media only screen and (min-width:100px) and (max-width:850px){

  .paymentDiv{
    width: fit-content;
    margin-top: 4rem;

  }
  .payed{
    display: grid;
    gap: 1rem;
    
  }

  .paymentDiv mat-card button {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
   
    }
    .paymentDiv mat-card h1 {
      justify-content: center;
      margin-top: auto;
      margin-bottom: auto;
      font-size: large;
      
      }

      .book-button{
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
      }
  
      .tix12{
  margin-left: 2rem;
  margin-right: auto;
  justify-content: center;
      }
}

.tix12{

}

.timer{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  color: #212225;
  width: fit-content;
  margin-left: auto;
  margin-right:0;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courier Prime', monospace;
  background-image: linear-gradient(to right, #fbfcff, #b5e9f2);
}

@media only screen and (min-width:100px) and (max-width:850px){
  .timer{
    font-size: 1rem;
    padding: 0rem;
  }
  .card-body{
    padding: 1rem;
  }
}

.namepdf div{
  display: block;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Kurale', serif;

}

.namepdf div h4{
  display: inline-flex;
  font-family: 'Kurale', serif;

}

#htmldata{
  width: min-content;
  height: min-content;
  width: min-content;
}

/* 
------------------------------------------------------------------------------------------------ */

/* ticket */

/*
 *	TICKET
 *	---------------------------------------------
 */

 .ticket-wrap {
	text-align: center;
}

.ticket {
	display: inline-block;
	margin: 0 auto;
	border: 2px solid #9facbc;
	font-family: "Variable Bahnschrift", "FF DIN", "Franklin Gothic", "Helvetica Neue", sans-serif;
	font-feature-settings: "kern" 1;
	background: #fff;
}

.ticket__header {
	margin: 0;
	padding: 1.5em;
	background: #f4f5f6;
}

.ticket__co span,
.ticket__route span {
	display: block;
}

.ticket__co {
	display: inline-block;
	position: relative;
	padding-left: 5em;
	line-height: 1;
	color: #5e7186;
}

.ticket__co-icon {
	position: absolute;
	top: 50%;
	margin-top: -2em;
	left: 0;
	width: 4em;
	height: auto;
}

.ticket__co-name {
	font-size: 2.5em;
	font-variation-settings: "wght" 500, "wdth" 75;
	letter-spacing: -.01em;
}

.ticket__co-subname {
	font-variation-settings: "wght" 700;
	color: #506072;
}

.ticket__body {
	padding: 2rem 1.25em 1.25em;
}

.ticket__route {
	font-variation-settings: "wght" 300;
	font-size: 2em;
	line-height: 1.1;
}

.ticket__description {
	margin-top: .5em;
	font-variation-settings: "wght" 350;
	font-size: 1.125em;
	color: #506072;
  width:35rem;
  word-wrap: break-word;
}

.ticket__timing {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	padding: 1rem 0;
	border-top: 2px solid #9facbc;
	border-bottom: 2px solid #9facbc;
	text-align: left;
}

.ticket__timing p {
	margin: 0 1rem 0 0;
	padding-right: 1rem;
	border-right: 2px solid #9facbc;
	line-height: 1;
}

.ticket__timing p:last-child {
	margin: 0;
	padding: 0;
	border-right: 0;
}

.ticket__small-label {
	display: block;
	margin-bottom: .5em;
	font-variation-settings: "wght" 300;
	font-size: .875em;
	color: #506072;
}

.ticket__detail {
	font-variation-settings: "wght" 700;
	font-size: 1.25em;
	color: #424f5e;
}

.ticket__admit {
	margin-top: 2rem;
	font-size: 2.5em;
	font-variation-settings: "wght" 700, "wdth" 85;
	line-height: 1;
	color: #657990;
}

.ticket__fine-print {
	margin-top: 1rem;
	font-variation-settings: "wdth" 75;
	color: #666;
}

.ticket__barcode {
	margin-top: 1.25em;
	width: 299px;
	max-width: 100%;
}

@media (min-width: 36em) {
	.ticket-wrap {
		margin-bottom: 4em;
		text-align: center;
	}

	.ticket {
		margin: 0 auto;
		transform: rotate(6deg);
	}

	.ticket__header {
		margin: 0;
		padding: 2em;
	}

	.ticket__body {
		padding: 3rem 2em 2em;
	}

	.ticket__detail {
		font-size: 1.75em;
	}

	.ticket__admit {
		margin-top: 2rem;
	}
}

@supports (display: grid) {
	@media (min-width: 72em) {
		.ticket-info,
		.ticket-wrap {
			align-self: center;
		}

		.ticket-wrap {
			order: 2;
			margin-bottom: 0;
		}

		.ticket-info {
			order: 1;
		}
	}
}