<div class="container login">
    <div class="myCard">
        <div class="row">

            <div class="col-sm-6">
                <div class="myLeftCtn">

                    <div class="close_button">
                        <a routerLink="/landing-page" style="color: white;">
                            <mat-icon id="clear">clear</mat-icon>
                        </a>
                        
                    </div>
                    <div class="box">
                        <header>Carnivry</header>

                        <p><i>&emsp;The universe of events designed to architect your sweetest memories </i></p>
                        <input type="button" class="butt_out" value="Learn More" />
                    </div>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="myRightCtn">

                    <form [formGroup]="loginFormGroup" (ngSubmit)="loginCheck()" class="myForm text-center">
                        <header>Welcome Back</header>

                        <div class="form-group input">
                            <i class="fas fa-envelope" id="fas_2"></i>
                            <input type="email" formControlName="email" class="form-control myInput" placeholder="Email"
                                [ngClass]="{'is-invalid': f['email'].errors && f['email'].touched}" />
                            <div *ngIf="f['email'].errors && (f['email'].touched || f['email'].dirty)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="f['email'].errors['required']">Email Required</div>
                                <div *ngIf="f['email'].errors['email']">Invalid Email</div>
                            </div>
                        </div>


                        <div class="form-group input">
                            <i class="fas fa-lock" id="fas_3"></i>
                            <input type="password" formControlName="password" class="form-control myInput"
                                placeholder="Password"
                                [ngClass]="{'is-invalid': f['password'].errors && f['password'].touched}" />
                            <div *ngIf="f['password'].errors && (f['password'].touched || f['password'].dirty)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="f['password'].errors['required']">Password Required</div>
                                <div *ngIf="f['password'].errors['minlength']">Carnivry passwords contain atleast 8
                                    characters</div>
                                <div *ngIf="f['password'].errors['maxlength']">Carnivry passwords contain atmost 20
                                    characters</div>
                            </div>
                        </div>

                        <div class="input fade show" *ngIf="successMessage || failureMessage">
                            <div *ngIf="failureMessage" class="alert alert-warning message" role="alert">
                                {{failureMessage}}
                            </div>
                            <div *ngIf="successMessage" class="alert alert-success message" role="alert">
                                {{successMessage}}
                            </div>

                        </div>
                    
                    <div class="forgot-pass">
                      <div class="row">
                        <div class="input-field col s12">
                          <a (click)="opendialouge()">Forgot Password?</a>
                    </div>
                  </div>
                </div>
                        
                <br>        
                <div class="butt_box">
                            <button type="submit" class="butt" [disabled]="!loginFormGroup.valid">Login</button>

                        </div>
                        <br>

                        <div class="register">
                            <div class="row">
                              <div class="col s12">
                                <a routerLink="/registration/register">New User? Register</a>
                          </div>
                        </div>
                      </div>
                    </form>

                    

                    <hr>

                    <div class="input">
                        <header >Social Sign In </header>
                        <div class="social_icons">
                            <button class="btn btn-light" (click)="signinGoogle()">
                                <i class="fab fa-google"></i>
                            </button>
                            <button class="btn btn-light" (click)="signinGithub()">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>