<div class="container login">
  <div class="myCard">
      <div class="row">

          <div class="col-sm-6">
              <div class="myLeftCtn">
                  <div class="box">
                      <header>Carnivry</header>

                      <p><i>&emsp;The universe of events designed to architect your sweetest memories </i></p>
                      <input type="button" class="butt_out" value="Learn More" />
                  </div>

              </div>
          </div>

          <div class="col-sm-6">
              <div class="myRightCtn">

                  <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" class="myForm text-center">
                      <header>Change Password</header>

                      <div class="form-group input">
                        <i class="fas fa-lock" id="fas_3"></i>
                        <input type="password" formControlName="newPassword" class="form-control myInput"
                            placeholder="New Password"
                            [ngClass]="{'is-invalid': f['newPassword'].errors && f['newPassword'].touched}" />
                            <div *ngIf="newPassword.touched && newPassword.errors" class="text-danger">
                              <span *ngIf="newPassword.hasError('required')">Password is required</span>
                              <span *ngIf="newPassword.hasError('maxlength')">Only 15 characters allowed for password</span>
                              <span *ngIf="newPassword.hasError('minlength')">Atleast 8 characters needed for password</span>
                            </div>
                    </div>


                    <div class="form-group input">
                        <i class="fas fa-lock" id="fas_4"></i>
                        <input type="password" formControlName="cnewPassword" class="form-control myInput"
                            placeholder="Confirm New Password"
                            [ngClass]="{'is-invalid': f['cnewPassword'].errors && f['cnewPassword'].touched}" />
                            <div *ngIf="f['cnewPassword'].errors && (f['cnewPassword'].touched || f['cnewPassword'].dirty)"
                                class="alert alert-danger" role="alert">
                                <div *ngIf="f['cnewPassword'].errors['required']">Matching Password Required</div>
                                <div *ngIf="f['cnewPassword'].errors['matching']">Password Not Matching</div>
                            </div>
                    </div>
                  
                      <br>
                      <div class="butt_box">
                          <button type="submit" class="butt" [disabled]="updatePasswordForm.invalid" style="width: 200px;">UPDATE PASSWORD</button>
                      </div>
                  </form>
                  <br>
                  <hr>
              </div>
          </div>

      </div>
  </div>
</div>