<div class="newEmail">
  <div mat-dialog-actions class="close_btn_box">
    <button mat-raised-button mat-dialog-close class="close_btn">
      <mat-icon class="icon">clear</mat-icon>
    </button>
  </div>

  <div class="container body">
    <h1 class="heading">Forgot Password</h1>
     <form [formGroup]="forgotFormGroup" class="col s12 white" (ngSubmit)="onSubmit()">
      <div class="form-group input">
        <label for="email" style="font-size: 20px;">Email address</label>
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
          <path
            d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z" />
        </svg>
        <input type="email" class="form-control myInput" formControlName="email" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Enter email" style="height: 40px;">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div *ngIf="email.invalid" class="alert alert-danger" >
          Emailid required
        </div>
      </div>

      <div class="butt_box">
          <button type="submit" class="butt">Submit</button>
      </div>
    </form>
  </div>
</div>
 
