<div class="profile">
    <img class="profile_pic" src="{{profilePic}}">
    <h1 class="mat-display-1 username">{{name}}</h1>
    <p class="emailid"> <i>{{email}}</i> </p>
    <div class="buttons">
        <button class="button" (click)="updateProfilePic()">Update Profile Photo</button>
        <button class="button" (click)="updateEmailId()">Update Email</button>
        <button class="button" (click)="updateAddress()">Update Address</button>
        <button class="button" (click)="updateDOB()">Update Date of Birth</button>
        <!-- <button class="button">Update Phone Number</button> -->
        <button class="button" (click)="myGenre()">My Genres</button>
        <button class="button" (click)="getWishlist()">Wishlist</button>
        <button class="button" (click)="getPostedEvents()">Posted Events</button>
        <button class="button" (click)="getUpcomingEvents()">Upcoming Events</button>
        <button class="button" (click)="getPastEvents()">Past Events</button>
    </div>
</div>

