.input_fields{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.input{
    margin: 10px;
    position: relative;
}
.icon{
    position: absolute;
    top: 7px;
    left: -15px;
}
#country_icon{
    left: -110px;
}