
 .ev{
    
    height: 100vh;
    background-image: url(../../assets/carnivry_ev_white1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
 }
 .content{
    color: black;
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 50px;
    box-shadow: 2px 2px 6px 5px rgba(110, 26, 26, 0.5);
 }
 .text{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3vw;
    font-family: 'Work Sans', sans-serif;
    color: rgb(85, 84, 7);
    font-weight: 700;

 }
 .buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
 }
 .button{
    width: 40%;
    border-radius: 20px;
    
 }
 #button1{
   width: 100%;
   height: 100%;
    background: rgba(131, 238, 73, 0.3);
    backdrop-filter: blur(3px);
    color: rgb(12, 103, 12);
    font-size: 2vw;
    font-weight: 500;
    border: 2px solid rgb(62, 103, 12);
 }
 #button2{
    background: rgba(255, 182, 80, 0.3);
    backdrop-filter: blur(3px);
    color: rgb(100, 75, 6);
    font-size: 2vw;
    font-weight: 500;
    border: 2px solid rgb(100, 20, 6);
 }
 .messages{
    width: 100%;
    text-align: center;
 }