<div class="document">

<p>
    <mat-toolbar style="background-image: linear-gradient(to right,rgb(46, 1, 1),rgb(248, 52, 52));justify-content: center;
    height: 7rem;" class="toolbar">
      <span style="font-family: 'Marcellus SC', serif;;
      font-size: 3.6rem; letter-spacing: 0.3rem;
      font-weight: bolder; color: white;" class="toolbar1">
         {{eventdetails.title}}</span>
    </mat-toolbar>
  </p>
<!-- 
  <mat-card class="Poster-card ">

    <img mat-card-image [src]="posterUrl"  class="Poster-image border-background border-background-gradient">
  
    <hr style="border: 2px solid black;"> 
    <mat-card-title class="title">
      <div class="border-background border-background-gradient eventtitle">
        {{eventdetails.title}}
      </div>
      <mat-card-content class="content-card like" style="padding-top: -2rem; position: relative; padding-bottom: 1rem;" >
        <i class="fa fa-heart fa-7x" style="color: red; margin-top: 2rem;" aria-hidden="true"></i>
        <p style="font-size: 3rem; padding: 2rem; padding-top: -2rem; ">
          {{eventdetails.likes}} users have liked this Carnivral
        </p>

      </mat-card-content>
      <mat-card-content class="content-card timing" >

        <p style="font-size: 3rem; padding: 2rem; margin-left: auto; margin-right: auto; margin-top: -5rem ; background-color: black;"
        class="border-background border-background-gradient">
          Starts on: {{eventdetails.eventTimings.startDate | date}}
        </p>
      </mat-card-content>
    </mat-card-title>

  </mat-card> -->

  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->



  <mat-card class="container-image" >
<div class="background-poster">
  <img mat-card-image [src]="posterUrl" >
</div>
    


  

   
  </mat-card>




  <mat-card class="thumbnail" fxLayout="row" fxLayoutAlign="center center">
    <img [src]="thumbnailurl" class="thumbnailimg" >
    <div class="details-header">
    <div class="title">{{eventdetails.title}}</div>
    <span class="descr">
      {{eventdetails.eventDescription}}
    </span>
    <div class="like-heart">
      <i class="fa fa-heart fa-3x heart" style="color: rgb(186 0 0);" aria-hidden="true"></i>
      <p>
          {{eventdetails.likes}} users have liked this Carnivral
      </p>
      
    </div>
    <div class="timing">
      Starts on: {{eventdetails.eventTimings.startDate | date}}
    </div>
  </div>
</mat-card>




<!-- <div fxLayout.md="column" fxFlex.md="30%">
  <div fxLayout.md="row">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repudiandae!</div>
  <div fxLayout.md="row">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repudiandae!</div>
  <div fxLayout.md="row">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, repudiandae!</div>
</div> -->
<!-- 
</mat-card>
</div> -->






























  <!-- ---------------------------------------------------------------------------------------------------------------------------------- -->

  <mat-card class="description " style="margin: 2rem;">
<mat-card-title>
 <h1 class="description description1"> Description</h1>
</mat-card-title>
<mat-card-content class="description-content" >
  {{eventdetails.
    eventDescription
    }}
</mat-card-content>
  </mat-card>
<div style="display: flex;" class="date-genre" >
  <mat-card  style="margin: 2rem; " class="description Timings">
    <mat-card-title>
      <h1 class="description description1">
        Carnival Timings
      </h1>

    </mat-card-title>
      <mat-card-content class="timing-content">

          Launch Date: {{eventdetails.eventTimings.startDate | date}}

          <hr style="margin-left: 2rem; margin-right: 2rem; height: 2.5rem; border: 1px solid black;">
        Ends On: {{eventdetails.eventTimings.endDate | date}}
      </mat-card-content>
  <mat-card-content class="timing-content">

        Event starts at: {{eventdetails.eventTimings.startTime}}
        <hr style="margin-left: 2rem; margin-right: 2rem; height: 2.5rem; border: 1px solid black;">
        Event ends at: {{eventdetails.eventTimings.endTime}}
</mat-card-content>
  </mat-card>

  <mat-card class="description genre">
    <mat-card-title>
      <h1 class="description description1">
        Genres
      </h1>
    </mat-card-title>
    <mat-card *ngFor="let genres of eventdetails.genre" class="genres">
      {{genres}}
        </mat-card>
  </mat-card>
</div>

<div fxLayout.gt-md="row" fxLayout.lt-md="column" class="artists-venue">
  <mat-card  class="description art" fxFlex="45%" >
    <mat-card-title>
      <h1 class="description description1">
        Artists
      </h1>
    </mat-card-title>
    <mat-card *ngFor="let artists of eventdetails.artists" class="artists">
      {{artists}}
        </mat-card>
  </mat-card>



  <mat-card style="margin: 2rem;" class="description venue">
    <mat-card-title>
      <h1 class="description description1" *ngIf="eventdetails.venue.address.state!='-NA-'">
        Venue
      </h1>

      <h1 class="description description1" *ngIf="eventdetails.venue.address.state=='-NA-'">
       Website
      </h1>
      <div class="venue1" *ngIf="eventdetails.venue.address.state=='-NA-'">
      <mat-card-content class="venue" style="font-weight: bolder; font-size: larger; " >
      <p>
        <a style=" font-style: italic;" href={{eventdetails.venue.venueName}}>{{eventdetails.venue.venueName}}</a>
        <!-- {{eventdetails.venue.venueName}} -->
      </p>
    </mat-card-content>
  </div>
    </mat-card-title>


    <div class="venue1" *ngIf="eventdetails.venue.address.state!='-NA-'">
    <mat-card-content class="venue" style="font-weight: bolder; font-size: larger;">
      <p>
        {{eventdetails.venue.venueName}}
      </p>
    </mat-card-content>
    <mat-card-content class="venue">
      <p>
        {{eventdetails.venue.address.house}},{{eventdetails.venue.address.street}},{{eventdetails.venue.address.landmark}}
      </p>
      <p>
          {{eventdetails.venue.address.city}}, {{eventdetails.venue.address.pincode}}
      </p>
      <p>
        {{eventdetails.venue.address.state}}
      </p>
    <p>
      {{eventdetails.venue.address.country}}
    </p>
    </mat-card-content>
  </div>

   
  </mat-card>
</div>
  <div class="buttons" fxLayout="row">
    <div>
      <button mat-raised-button class="book-button" (click)="seatview(eventdetails.eventId)"> Book Ticket</button>

    </div>
   <div>
    <button mat-raised-button class="book-button" > Go Back</button>
   </div>
   
  </div>
</div>

    
<mat-card *ngIf="paymentDiv==true" class="paymentDiv" fxLayout="center">

  <div class="payed"  >

 
  <mat-card class=" description description1" style="width: fit-content; margin: auto; margin-left:2rem ;">
          Confirmation
  </mat-card>
  <mat-card class="evt-name">
    <h1>
      Event Name: 
    </h1>
     {{eventdetails.title}}
  </mat-card>

   
<mat-card >
  <h1 >
    Total Seats: 
  </h1>

  <mat-form-field appearance="fill" id="noOfSeats" >
    <mat-label>Select</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="1">One Seat</mat-option>
      <mat-option value="2"  >Two Seats</mat-option>
      <mat-option value="3"  >Three Seats</mat-option>
      <mat-option value="4"  >Four Seats</mat-option>
      <mat-option value="5"  >Five Seats</mat-option>
      <mat-option value="6"  >Six Seats</mat-option>
      <mat-option value="7"  >Seven Seats</mat-option>
      <mat-option value="8"  >Eight Seats</mat-option>
      <mat-option value="9"  >Nine Seats</mat-option>
      <mat-option value="10"  >Ten Seats</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
   
   <mat-card class="evt-name">
    <h1 >
      Total Amount:
    </h1>
    {{getTotal()}} Rs.
   </mat-card>
    
       
   

  <button mat-raised-button class="book-button btn1" style="width: 3cm;" (click)="payment()" >Pay</button>
</div> 


</mat-card>


<mat-card *ngIf="soldout==true">
We are really sorry, all tickets are sold out
</mat-card>
