.registration{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  .container {
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  .myRightCtn {
    position: relative;
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px; 
    /* display: flex; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .myLeftCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }
  .myLeftCtn header {
    color: blueviolet;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .row{
  height: 100%;
  } 
  .myCard {
    position: relative;
    background: #fff;
    padding: 2px;
    height: auto;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } 
  .myRightCtn header {
    color: #fff;
    font-size: 54px;
    margin-bottom: 40px;
    
  }
  #clear:hover{
     color: #ce97ea;
     size: 50px;
  }
  .close_button{
    padding-left: 90%;
    width: 100%;
    
  }
  .box {
    position: relative;
    width: auto;
    padding-top: 30%;
    margin: 20px;
    margin-bottom: 100px;
    height: 70%;
  } 
  .myLeftCtn .myInput {
    width: 260px;
    margin: 10px 0px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  }
  .myLeftCtn .alert{
    width: 260px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 25px;
    border: none;
    text-align: center;
  }

  .myLeftCtn .myInput:focus {
    outline: none;
  } 
  .myForm {
    position: relative;
    margin-top: 25px;
  } 
  .myLeftCtn .butt {
    background: linear-gradient(45deg, #bb36fd, #9b00e8);
    color: #fff;
    width: 30%;
    border: none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  }
  .myLeftCtn .butt_box{
    display: flex;
    justify-content: space-evenly;
  } 
  .myLeftCtn .butt:hover {
    background: linear-gradient(45deg, #c85bff, #b726ff);
  }
  .myLeftCtn .butt:focus {
    outline: none;
  }
  .fas{
    position: absolute;
    color: #bb36fd;
    top: 10px;
    left: 16px;

  }
  .date{
    margin-top: 0px;
    padding-top: 0px;
  }
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
    
}
.mat-form-field-infix {
  padding:  0px;
  border-top: 0px;
}
.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0px;
}
 
  

  .butt_out {
    background: transparent;
    color: #fff;
    width: 120px;
    border: 2px solid#fff;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  } 
  .butt_out:hover {
    border: 2px solid#eecbff;
  } 
  .butt_out:focus {
    outline: none;
  }
  .input{
    position: relative;
  }
  .message{
    
    margin: 10px auto;
  }
  .social_icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 60%;
    margin: 10px auto;
  }
  .input header{
    font-size: 18px;
    color: #660a94;
    margin: 10px auto;
    text-align: center;
  }
  .social_icons .fab{
    color: #bb36fd;
    font-size: 25px;
  }
  