<div class="profilePic">
    <div mat-dialog-actions class="close_btn_box">
        <button mat-raised-button mat-dialog-close class="close_btn">
            <mat-icon class="icon">clear</mat-icon>
        </button>
    </div>
    <div class="container body">
       
       
            <h1 class="heading">Update Profile Photo</h1>
            <form [formGroup]="profilePicForm" (ngSubmit)="onSubmit()" class="myForm text-center">
                <div class="form-group input">
                    <!-- <i class="fas fa-envelope" id="fas_2"></i> -->
                    <label for="email">Your email</label>
                    <input type="email" formControlName="email" class="myInput" placeholder="Email"
                    
                        [ngClass]="{'is-invalid': f['email'].errors && f['email'].touched}" />
                    <div *ngIf="f['email'].errors && (f['email'].touched || f['email'].dirty)"
                        class="alert alert-danger" role="alert">
                        <div *ngIf="f['email'].errors['required']">Email Required</div>
                        <div *ngIf="f['email'].errors['email']">Invalid Email</div>
                    </div>
                </div>
                <div class="form-group input">

                    <label for="profilePic">Upload Profile Picture</label>
                    <input type="file"  (change)="onFileChanged($event)" name="profilePic" class="myInput">
                    <br>
                    <img [src]="profilePicUrl" height="200" *ngIf="profilePicUrl">
                    <div *ngIf="f['profilePic'].errors && (f['profilePic'].touched || f['profilePic'].dirty)"
                        class="alert alert-danger" role="alert">
                        <div *ngIf="f['profilePic'].errors['required']">Photo Required</div>

                    </div>
                </div>

                <div class="butt_box">
                    
  
                        <button type="submit" class="butt" [disabled]="!profilePicForm.valid"
                    [mat-dialog-close]="profilePicUrl" >Submit</button>
                      
                    

                </div>
            </form>
        
    </div>

</div>