<div class="myGenres">
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close style="margin-left: 90%;">
            <mat-icon class="icon">clear</mat-icon>
        </button>
    </div>
    <div class="container">
        <h1>Your Favourite Genres</h1>
        <div class="content">
            <mat-chip-list #chipList aria-label="Favourite genres" multiple>
                <mat-chip *ngFor="let genre of myGenres">
                    {{genre}}
                </mat-chip>

            </mat-chip-list>
        </div>
        <br>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="changeGenres()">Change Favourite Genres</button>
        </div>
        <div class="allGenres" *ngIf="willChange">
            <div class="genre_chips">
                <mat-form-field class="genre_list" appearance="fill">
                    <mat-label>Event Genres</mat-label>
                    <mat-chip-list #chipList aria-label="Event genres" multiple [formControl]="formControl">
                        <mat-chip *ngFor="let genre of allGenres" [selected]="genre" [value]="genre"
                            (removed)="removeGenre(genre)">
                            {{genre}}
                        </mat-chip>

                    </mat-chip-list>
                </mat-form-field>
                <br>
                <div class="buttons">

                    <button mat-raised-button color="primary" (click)="onSubmit()">Submit </button>
                </div>

                <p *ngIf="warning" class="alert alert-danger">{{warning}}</p> 

            </div>
        </div>
    </div>
</div>