.close_btn_box{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.close_btn{
    width: 10%;
    color: white;
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
}
.body{
    text-align: center;
    width: 100%;
}
.myGenres{
    text-align: center;
    border: 2px solid #9b00e8;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.butt_box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.butt{
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
    color: white;
    border-radius: 25px;
    margin: 0px;
    padding: 0px;
    width: 30%;
    height: auto;
}
.butt:hover {
    background: linear-gradient(45deg, #c85bff, #b726ff);
    color: rgb(234, 211, 245);
  }
.genre_list{
    width: 90%;
}
.heading{
    font-weight: 900;
    font-size: 30px;
    color: #9b00e8;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}