<form class="submission-form" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
    <h1>Change Password</h1>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" formControlName="newPassword" aria-describedby="emailHelp" style="color: black"/>
      <div *ngIf="newPassword.touched && newPassword.errors" class="text-danger">
        <span *ngIf="newPassword.hasError('required')">Password is required</span>
        <span *ngIf="newPassword.hasError('maxlength')">Only 15 characters allowed for password</span>
        <span *ngIf="newPassword.hasError('minlength')">Atleast 8 characters needed for password</span>
      </div>
    </div>

    <div class="form-group">
      <label for="cnewPassword">Confirm New Password</label>
      <input type="password" formControlName="cnewPassword" style="color: black" />
      <div *ngIf="cnewPassword.touched && cnewPassword.errors" class="text-danger">
        <span *ngIf="cnewPassword.hasError('required')">Confirm Password is required.</span>
        <span *ngIf="cnewPassword.hasError('mustMatch')">Confirm Password Must Match.</span>
      </div>
    </div>
    
   <button id="sendBtn" type="submit" [disabled]="updatePasswordForm.invalid" class="btn btn-primary btn-md mt-3 d-none d-md-inline-block d-sm-none">
      <span class="btn-text"><i class="fas fa-pen mr-2"></i>UPDATE PASSWORD</span>
   </button>
  </form>


