<hr>
<footer class="container mt-3 col-sm-12" id='footer' >
    <div class=" d-flex  justify-content-around">
        <div><a href="">
                <h2>About Us</h2>
            </a></div>
        <div><a href="">
                <h2>Home</h2>
            </a></div>
        <div><a href="/host-event">
                <h2>Post Event</h2>
            </a></div>
        <div><a href="/account">
                <h2>Profile</h2>
            </a></div>
    </div>
    <div class=" d-flex flex-wrap  justify-content-between mx-lg-5">
        <div>
            <h1>Carnivry</h1>
        </div>
        <div class="copyright">©Copyright 2022 Carnivry, All rights reserved</div>
        <div>
            <a href="#footer">Terms and Conditions</a> |
            <a href="#footer">Privacy Policy</a>
        </div>
    </div>
    <br>
    <div class="d-flex flex-column">
        <p class=" align-self-center" style="font-weight: bold; ">CONNECT WITH US : </p>
        <div class=" d-flex flex-wrap  justify-content-center ">

            <div><a href="http://www.facebook.com"><img class="social-media" src="../assets/Facebook.png"
                        alt="Facebook"></a></div>
            <div><a href="http://www.instagram.com"> <img class="social-media" src="./assets/Instagram.png"
                        alt="Instagram"></a></div>
            <div>
                <a href="https://twitter.com/"> <img class="social-media" src="./assets/Twitter.png" alt="Twitter"></a>
            </div>
            <div><a href="http://www.youtube.com"> <img class="social-media" src="./assets/Youtube.png"
                        alt="Youtube"></a></div>
        </div>
    </div>
    <br>
</footer>