.profile_pic{
    /* background-image: url("../../assets/S.jpg");
    background-position: center;
    background-size: cover; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid purple;
    
    background-image: url("src/assets/default_avatar.png");
}