.root {
  --colNum: 5;
}

/* Seat layout container */
.cont {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(var(--colNum), 1fr);
  /* max-width: fit-content; */
  width: fit-content;

}

/* Seat layout checkbox */
.box {
  height: auto;
  width: auto;
  /* background-color: aqua; */
  border-top-left-radius: 50pt;
  border-top-right-radius: 50pt;

}

/* Error message */
.alert {
  color: red;
}

.header {
  font-size: 100vw;
}

/* Poster thumbnail */
.thumbnail {
  height: auto;
  max-width: 300px;
  width: 100%;
}

/* Poster landscape */
.landscape {
  height: auto;
  
  width: 100%;
}
@media only screen  and (min-width:820px){
  .country-field{
    min-width:150px;
  }
}

.form-box{
  border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.image-div{
  border:3px dashed lightslategrey;
  border-radius: 25px;
  height: max-content;
}
