<!-- <div class="container-fluid" style="background-color: red;"> -->
<!-- <div class="col-xs-12" style="background-color: blue;"> -->
<mat-card class="container-fluid" style="padding-bottom: 100px;">
  <mat-card-header>
    
    <mat-card-title style="padding-top: 20px;">
      <header *ngIf="!existingEventData.eventId">Host New Event</header>
      <header *ngIf="existingEventData.eventId && !isEventUpdatable">Update Event</header>
      <header *ngIf="isEventUpdatable">View Event</header>
      <br>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="form-box">


    <!-- STEPPER 1 : EVENT DETAILS -->


    <mat-stepper linear="false" #stepper>
      <mat-step label="Event Description" [stepControl]="hostEventForm">
        <form [formGroup]="hostEventForm">

          <mat-form-field class=" col-sm-12" appearance="fill" [hidden]="existingEventData.eventId==null">
            <mat-label>Event ID :</mat-label>
            <input matInput placeholder="Event id" value="{{existingEventData.eventId}}" disabled>
          </mat-form-field>

          <mat-form-field class="col-sm-6" appearance="fill">
            <mat-label>Event Title</mat-label>
            <input matInput formControlName="title" value="{{existingEventData.title}}"
              [readonly]="existingEventData.eventId">
          </mat-form-field>

          <mat-form-field class="example-chip-list" class="col-sm-6">
            <mat-label>Genres</mat-label>
            <mat-chip-list #chipList aria-label="Genre selection">
              <mat-chip *ngFor="let gr of genres" (removed)="remove(gr)">
                {{gr}}
                <button matChipRemove [hidden]="isEventUpdatable">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Add genre..." #genreInput [formControl]="genreCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" [readonly]="isEventUpdatable">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let gr of filteredGenres | async" [value]="gr">
                {{gr}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <mat-label>Event Description</mat-label>
            <textarea matInput #description placeholder="Event description (minimum 50 characters)"
              formControlName="eventDescription" [readonly]="isEventUpdatable">
                </textarea>
            <mat-hint align="end">Characters: {{description.value.length}}</mat-hint>
          </mat-form-field>

          <mat-form-field class="col-sm-6">
            <mat-label>Artists</mat-label>
            <mat-chip-list #chipList1 aria-label="Artist selection">
              <mat-chip *ngFor="let a of artists" (removed)="removeArtist(a)">
                {{a}}
                <button matChipRemove [hidden]="isEventUpdatable">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="New artist/cast..." [matChipInputFor]="chipList1"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes1" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addArtist($event)" [readonly]="isEventUpdatable">
            </mat-chip-list>
          </mat-form-field>

          <mat-form-field class="col-sm-6">
            <mat-label>Languages</mat-label>
            <mat-chip-list #chipList3 aria-label="Language selection">
              <mat-chip *ngFor="let l of languages" (removed)="removeLanguage(l)">
                {{l}}
                <button matChipRemove [hidden]="isEventUpdatable">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="New language..." #languageInput [matChipInputFor]="chipList3"
                [matAutocomplete]="autoLang" [matChipInputSeparatorKeyCodes]="separatorKeysCodes3"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addLanguage($event)"
                [readonly]="isEventUpdatable">
            </mat-chip-list>
            <mat-autocomplete #autoLang="matAutocomplete" (optionSelected)="selectedLanguages($event)">
              <mat-option *ngFor="let ln of filteredLanguages | async" [value]="ln">
                {{ln}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext class="btn btn-primary" style="float: right;">Next</button>
          </div>

        </form>
      </mat-step>



      <!-- STEPPER 2 : VENUE DETAILS -->


      <mat-step label="Venue Details">
        <header>Select Event Type</header>

        <mat-button-toggle-group name="eventType" aria-label="Event Type" (change)="onOnlineMode($event)"
          [disabled]="existingEventData.eventId ">
          <mat-button-toggle value="online">Online</mat-button-toggle>
          <mat-button-toggle value="offline">Offline</mat-button-toggle>
        </mat-button-toggle-group>

        <form [formGroup]="hostEventForm">
          <div formGroupName="venue">

            <mat-form-field class="col-sm-12">
              <mat-label>Venue Name</mat-label>
              <input matInput formControlName="venueName" placeholder="Venue name or Event URL"
                [readonly]="isEventUpdatable">
            </mat-form-field>

            <div class="row">
              <h2 class="col-sm-12">Address :</h2>
              <div formGroupName="address">

                <mat-form-field class="col-sm-4 col-md-2"
                  [hidden]="this.hostEventForm.get('venue.address.house').value==='0'">
                  <mat-label>House No.</mat-label>
                  <input matInput formControlName="house" placeholder="House/Floor/Building"
                    [disabled]="hostEventForm.get('venue.address.house').value!='0'" [readonly]="isEventUpdatable">
                </mat-form-field>

                <mat-form-field class="col-sm-8 col-md-6"
                  [hidden]="this.hostEventForm.get('venue.address.street').value==='-NA-'">
                  <mat-label>Street</mat-label>
                  <input matInput formControlName="street" placeholder="Street name or Street number"
                    [readonly]="isEventUpdatable">
                </mat-form-field>

                <mat-form-field class="col-sm-4 col-md-6 col-lg-3"
                  [hidden]="this.hostEventForm.get('venue.address.landmark').value==='-NA-'">
                  <mat-label>Landmark</mat-label>
                  <input matInput formControlName="landmark" placeholder="Landmark/Location of the venue"
                    [readonly]="isEventUpdatable">
                </mat-form-field>

                <mat-form-field class="col-sm-4 col-md-6 col-lg-3"
                  [hidden]="this.hostEventForm.get('venue.address.city').value==='-NA-'">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city" placeholder="City name" [readonly]="isEventUpdatable">
                </mat-form-field>

                <mat-form-field class="col-sm-3 col-md-6 col-lg-3"
                  [hidden]="this.hostEventForm.get('venue.address.state').value==='-NA-'">
                  <mat-label>State</mat-label>
                  <input matInput formControlName="state" placeholder="State name" [readonly]="isEventUpdatable">
                </mat-form-field>

                <mat-form-field class="col-sm-3"
                  [hidden]="this.hostEventForm.get('venue.address.pincode').value==='000000' || this.hostEventForm.get('venue.address.pincode').value=== 0 ">
                  <mat-label>Pincode</mat-label>
                  <input type="number" matInput formControlName="pincode" placeholder="Pincode"
                    [readonly]="isEventUpdatable">
                </mat-form-field>

                <!-- <mat-form-field class="col-sm-3 col-md-3 country-field">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country" [disabled]="isEventUpdatable">
                    <mat-option *ngFor="let c of countries" [value]="c">
                      {{c}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->
                <mat-form-field class="col-sm-3 col-md-3 country-field">
                  <mat-label>Country of Origin</mat-label>
                  <input type="text"
                         placeholder="Pick one"
                         aria-label="Country"
                         matInput
                         formControlName="country"
                         
                         [matAutocomplete]="auto4">
                  <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete">
                    <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </div>
            </div>
          </div>
          <div class="row gx-5">

            <h2 class="col-sm-12">Event Timings :</h2>

            <div formGroupName="eventTimings">

              <mat-form-field class="col-sm-12 col-md-4">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="startDate" placeholder="Start date"
                    [readonly]="isEventUpdatable">
                  <input matEndDate formControlName="endDate" placeholder="End date" [readonly]="isEventUpdatable">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="isEventUpdatable"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error
                  *ngIf="hostEventForm.get('eventTimings.startDate').hasError('startDateValidator') && hostEventForm.get('eventTimings.startDate').value!=''">
                  * Start date cannot be today or a past date.</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-12 col-md-3  mx-lg-5">
                <mat-label>Starting time</mat-label>
                <input type="time" matInput placeholder="Event starting time" formControlName="startTime"
                  [disabled]="isEventUpdatable">
              </mat-form-field>

              <mat-form-field class="col-sm-12 col-md-3   mx-lg-5">
                <mat-label>Ending time</mat-label>
                <input type="time" matInput formControlName="endTime" placeholder="Event ending time"
                  [disabled]="isEventUpdatable">
                <mat-error *ngIf="hostEventForm.get('eventTimings').hasError('matching')">
                  * Ending time must be after starting time</mat-error>
              </mat-form-field>

            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
            <button mat-button matStepperNext class="btn btn-primary" style="float: right;">Next</button>
          </div>

        </form>
      </mat-step>



      <!-- STEPPER 3 : SEATING ARRANGEMENT -->


      <mat-step label="Seating Arrangement" [stepControl]="hostEventForm">
        <header>Do you have seating arrangement?</header>
        <mat-button-toggle-group name="seatType" aria-label="Seating Arrangement" (change)="onSeatType($event)"
          [disabled]="existingEventData.eventId  || this.hostEventForm.get('venue.address.city').value==='-NA-'">
          <mat-button-toggle value="yes">Yes</mat-button-toggle>
          <mat-button-toggle value="no">No</mat-button-toggle>
        </mat-button-toggle-group>

        <form [formGroup]="hostEventForm">

          <mat-form-field [hidden]="seatType==='yes' || this.hostEventForm.get('venue.address.city').value==='-NA-' ">
            <mat-label>Max. Audience Capacity</mat-label>
            <input type="number" matInput formControlName="totalSeats" (change)="changeTotalSeats($event)"
              [readonly]="isEventUpdatable">
          </mat-form-field>
          <mat-form-field [hidden]="seatType==='yes' ">
            <mat-label>Ticket Price</mat-label>
            <input type="number" matInput (change)="setTicketPrice($event)" value="{{priceCatogoryList[0]?.price}}"
              [readonly]="isEventUpdatable">
          </mat-form-field>


          <mat-form-field [hidden]="seatType==='no' || this.hostEventForm.get('venue.address.city').value==='-NA-'">
            <mat-label>Rows</mat-label>
            <input type="number" matInput (change)="calcTotalSeats()" id="totalRows" placeholder="Total number of rows"
              value="{{row}}" [readonly]="existingEventData.eventId!=null || isEventUpdatable">
          </mat-form-field>

          <mat-form-field [hidden]="seatType==='no' || this.hostEventForm.get('venue.address.city').value==='-NA-'">
            <mat-label>Columns</mat-label>
            <input type="number" matInput (change)="calcTotalSeats()" id="totalColm"
              placeholder="Number of columns per row" value="{{column}}"
              [readonly]="existingEventData.eventId!=null || isEventUpdatable">
          </mat-form-field>

          <mat-card [hidden]="totalSeating===0 || column===0">
            <mat-card-header>
              <mat-card-title>SEAT LAYOUT</mat-card-title>
            </mat-card-header>
            <mat-card-content (mouseup)="mouseUpEvent()">
              <!-- <div class="mx-auto"> -->
                <div
                  style="width: 60%;height: 50px; background-color: black; color: aliceblue; margin: 10px auto; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; text-align: center;">
                  <h1>STAGE</h1>
                </div>
                <!-- <div class="mx-auto"> -->
                  <div style="float: left; line-height: 3.20rem; margin-right: 10px;">
                    <div *ngFor="let r of alphaRows"
                      style="background-color: black; border-radius:15%; color: aliceblue; padding: 0 0.5vw; height: fit-content;">
                      {{r}}</div>
                  </div>

                  <div class="scrollable">
                    <div class="cont" id="parent" (mousedown)="mouseDownEvent()" (mouseup)="mouseUpEvent()">
                      <div class="box" *ngFor="let e of eventData.seats; index as x;">
                        <div id="d.{{x}}" style="border: 0.2rem solid black;" [style.backgroundColor]=' getColor(e)'
                          (mouseenter)="checkDiv($event)">
                          <label class="unselectable" for="{{x}}">{{e.seatId}}</label>
                          <input type="checkbox" name="" id="{{x}}" (change)="fieldChange(x)" value="{{e.seatId}}"
                            [disabled]="e.seatPrice!= 0.0001" style="display: none;">
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              <!-- </div> -->

              <div [hidden]="existingEventData.eventId!=null">
                <mat-form-field>
                  <mat-label>Seat Category</mat-label>
                  <input type="text" matInput placeholder="Platinum/Gold/Silver" id="seatCategory"
                    [matAutocomplete]="auto1" [readonly]="isEventUpdatable">
                  <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                    <mat-option *ngFor="let option of filteredSeatCategories|async" [value]="option">{{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <input type="number" id="activePrice" placeholder="Price slab" (change)="setActivePrice()"
                  [readonly]="isEventUpdatable">
                <button mat-button class="btn" (click)="savePrice()" [disabled]="activePrice<0">Save
                </button>
              </div>
              <br>

              <div *ngFor="let e of priceCatogoryList;index as i">

                <mat-form-field>
                  <div class="color-card" [style.backgroundColor]="e.divColor"></div>
                  <mat-label>Seat Category</mat-label>
                  <input matInput type="text" value="{{e.category}}" readonly>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Price Slab :</mat-label>
                  <input matInput type="number" id="u.{{i}}" value="{{e.price}}"
                    [readonly]="existingEventData.eventId==null || isEventUpdatable">
                </mat-form-field>
                <button mat-button class="btn btn-warning" (click)="removePrice(e.price)"
                  [hidden]="existingEventData.eventId!=null">Remove</button>
                <button mat-button class="btn btn-info" [hidden]="existingEventData.eventId==null || isEventUpdatable"
                  (click)="onPriceUpdate(i)">Update
                  price</button>
              </div>
            </mat-card-content>
          </mat-card>
          <div>
            <h2>Total Seats : {{hostEventForm.get('totalSeats').value}}</h2>
          </div>

          <div>
            <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
            <button mat-button matStepperNext class="btn btn-primary" style="float: right;">Next</button>
          </div>

        </form>

      </mat-step>



      <!-- STEPPER 4 : POSTER -->


      <mat-step [stepControl]="hostEventForm" label="Poster">
        <form [formGroup]="hostEventForm">
          <div class="row">

            <div class="image-div col-sm-12 col-lg-6 ">
              <label for="thumbnail">Upload Event Poster(Thumbnail)</label>
              <input type="file" accept='image/*' (change)="onThumbnailFileChange($event)" id="thumbnail"
                [readonly]="isEventUpdatable">
              <div *ngIf="hostEventForm.get('posters').invalid" class="alert">
                <div *ngIf="hostEventForm.get('posters').errors?.['required']">
                  * Event poster is required.
                </div>
              </div>
              <img [src]="thumbnailPosterPicDataUrl" class="thumbnail" alt="no_img" *ngIf="thumbnailPosterPicDataUrl"
                style="margin:0 auto ;">
            </div>

            <div class="image-div col-sm-12 col-lg-6">
              <label for="landscape">Upload Event Poster(Landscape)</label>
              <input type="file" accept='image/*' (change)="onLandscapeFileChange($event)" id="landscape"
                [readonly]="isEventUpdatable">
              <img [src]="landscapePosterPicDataUrl" class="landscape" alt="no_img" *ngIf="landscapePosterPicDataUrl">
            </div>

          </div>

          <div>
            <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
            <button mat-button matStepperNext class="btn btn-primary float-right">Next</button>
          </div>

        </form>
      </mat-step>



      <!-- STEPPER 5 : PREVIEW -->


      <mat-step label="Done">
        <div>

        </div>
        <div>
          <h3>Preview:</h3>
          <mat-card class="mx-auto form-box" style="width: fit-content;"
            [hidden]="hostEventForm.get('title').value===''">
            <mat-card-header>
              <mat-card-title>{{hostEventForm.get('title').value}}</mat-card-title>
            </mat-card-header>
            <img [src]="thumbnailPosterPicDataUrl" height="200">
            <img [src]="landscapePosterPicDataUrl" height="200">
            <mat-card-content>
              <table>
                <tr>
                  <th>Event Description : </th>
                  <td>{{hostEventForm.get('eventDescription').value}}</td>
                </tr>
                <tr>
                  <th>Artists : </th>
                  <td>{{hostEventForm.get('artists').value}}</td>
                </tr>
                <tr>
                  <th>Genres : </th>
                  <td>{{hostEventForm.get('genre').value}}</td>
                </tr>
                <tr>
                  <th>Languages : </th>
                  <td>{{hostEventForm.get('languages').value}}</td>
                </tr>
                <tr>
                  <th>Venue Name : </th>
                  <td>{{hostEventForm.get('venue.venueName').value}}</td>
                </tr>
                <tr>
                  <th>Venue Address : </th>
                </tr>
                <tr>
                  <th> House No. : </th>
                  <td>{{hostEventForm.get('venue.address.house').value}}</td>
                </tr>
                <tr>
                  <th> Street : </th>
                  <td>{{hostEventForm.get('venue.address.street').value}}</td>
                </tr>
                <tr>
                  <th> Landmark : </th>
                  <td>{{hostEventForm.get('venue.address.landmark').value}}</td>
                </tr>
                <tr>
                  <th> City : </th>
                  <td>{{hostEventForm.get('venue.address.city').value}}</td>
                </tr>
                <tr>
                  <th> State : </th>
                  <td>{{hostEventForm.get('venue.address.state').value}}</td>
                </tr>
                <tr>
                  <th> Country : </th>
                  <td>{{hostEventForm.get('venue.address.country').value}}</td>
                </tr>
                <tr>
                  <th> Pincode : </th>
                  <td>{{hostEventForm.get('venue.address.pincode').value}}</td>
                </tr>
                <tr>
                  <th>Event Starting Date : </th>
                  <td>{{hostEventForm.get('eventTimings.startDate').value}}</td>
                </tr>
                <tr>
                  <th>Event Ending Date : </th>
                  <td>{{hostEventForm.get('eventTimings.endDate').value}}</td>
                </tr>
                <tr>
                  <th>Event Strting Time : </th>
                  <td>{{hostEventForm.get('eventTimings.startTime').value}}</td>
                </tr>
                <tr>
                  <th>Event Ending Time : </th>
                  <td>{{hostEventForm.get('eventTimings.endTime').value}}</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
          <!-- <button mat-button (click)="stepper.reset()" class="btn btn-danger" style="margin-left:2%">Reset</button> -->
          <button mat-button type="submit" (click)="onSubmit()" class="btn btn-success" style="float: right;"
            [hidden]="existingEventData.eventId!=null">Submit</button>
          <button mat-button type="submit" (click)="onUpdate()" class="btn btn-success" style="float: right;"
            [hidden]="existingEventData.eventId==null || isEventUpdatable">Update</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
<!-- </div> -->
<!-- </div> -->

<!-- <div
              *ngIf="hostEventForm.get('poster').hasError('posterValidation') && !hostEventForm.get('posters').errors?.['required']">
              * Invalid file format. The poster format must be jpg /jpeg /png /gif (only)
            </div> -->