<h3 align="center">All Cities</h3>

<div>
    <div style="display: flex;">
        <div (click)="chooseCity('Mumbai')" style="margin: 5px;">
            <img src="../../assets/city-icon (1).png">
            <div align="center">Mumbai</div>
        </div>
        <div (click)="chooseCity('Delhi')" style="margin: 5px;">
            <img src="../../assets/city-icon (2).png">
            <div align="center">Delhi</div>
        </div>
        <div (click)="chooseCity('Bengalore')" style="margin: 5px;">
            <img src="../../assets/city-icon (3).png">
            <div align="center">Bengalore</div>
        </div>
        <div (click)="chooseCity('Hyderabad')" style="margin: 5px;">
            <img src="../../assets/city-icon (4).png">
            <div align="center">Hyderabad</div>
        </div>
    </div>
    <div style="display: flex;">
        <div (click)="chooseCity('Ahmedabad')" style="margin: 5px;">
            <img src="../../assets/city-icon (5).png">
            <div align="center">Ahmedabad</div>
        </div>
        <div (click)="chooseCity('Jodhpur')" style="margin: 5px;">
            <img src="../../assets/city-icon (6).png">
            <div align="center">Jodhpur</div>
        </div>
        <div (click)="chooseCity('Pune')" style="margin: 5px;">
            <img src="../../assets/city-icon (7).png">
            <div align="center">Pune</div>
        </div>
        <div (click)="chooseCity('Kolkata')" style="margin: 5px;">
            <img src="../../assets/city-icon (8).png">
            <div align="center">Kolkata</div>
        </div>
    </div>
</div>